{%extends 'layout.html'%}
    {%block content%}
    	<!--<img src="http://www.gluedesign.in/quicktile-images/applications/grocery/design/kirana-des5.jpg" class="img-thumbnail" alt="Responsive image">-->
    	<div class="card card-image" style="background-image: url(http://www.trademeters.com/images/bannerBackground.png);">

    <!-- Content -->
    <div class="text-black text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
            <!-- <h5 class="pink-text"><i class="fas fa-chart-pie"></i></h5> -->
            <h1 class="card-title pt-2" style="color: blue">Welcome</h1>
            <h2 class="card-title pt-2"><center><strong>Kirana Product Billing</strong></center></h2>

            <!-- <a class="btn btn-pink"><i class="far fa-clone left"></i> View project</a> -->
        </div>
    </div>
    <!-- Conte<h1 style="color: blue">Welcome</h1>nt -->
</div>
    {%endblock content%}
